<!DOCTYPE html>
<html ng-app="StepSeqApp" lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>web-stepseq</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      .btn { margin-top: 7px; }
      body { 
        background-color: #e2e7ed;
        padding: 15px;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid" ng-controller="StepSeqCtrl">
      

      <!-- STEPS -->
      <div class="row">

        <!-- repeat 4 columns with button groups -->
        <div class="col-md-3" ng-repeat="i in stepGroups">

          <div class="btn-group">

            <!-- repeat for each 'stepGrouping' buttons from $scope.steps -->
            <div class="btn-group" ng-repeat="step in steps" ng-if="step.index < i && step.index >= (i - stepGrouping)">

              <!-- onClick: toggle step.active. apply colors (bootstrap button classes) depending on current/active state -->
              <button type="button" class="btn" ng-class="step.current ? buttonStates.current : (step.active ? buttonStates.active : buttonStates.standard)" ng-click="step.active =! step.active">
                {{pitchToKey(step.pitch)}}
              </button>

              <!-- apply colors (bootstrap button classes) depending on current/active state -->
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" ng-class="step.current ? buttonStates.current : (step.active ? buttonStates.active : buttonStates.standard)">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-notelist" role="menu">
                <li ng-repeat="note in getNoteArray(step.pitch, 12)">
                  <!-- onClick: set selected item as new step pitch -->
                  <a class="note-list-item" ng-click="setPitchFromUI(step, $event)" href>{{note}}</a>
                </li>
              </ul>

            </div>

          </div> <!-- button group -->

        </div>
      </div> <!-- row -->

      
      <!-- PLAYBACK CONTROLS -->
      <div class="col-md-6">

        <div class="row">
          <div class="btn-group">
            <button type="button" class="btn" ng-class="sequencer.running ? buttonStates.current : buttonStates.active" ng-click="sequencer.running =! sequencer.running">
              <span ng-class="sequencer.running ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'" aria-hidden="true"></span>
              RUN
            </button>
            <button type="button" class="btn" ng-class="buttonStates.standard" ng-click="stop()">
              <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
              STOP
            </button>
          </div>

          <button type="button" class="btn" ng-class="sequencer.recording ? buttonStates.recording : buttonStates.standard" ng-click="sequencer.recording =! sequencer.recording">
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
            REC
          </button>

          <div class="btn-group">
            <button type="button" class="btn" ng-class="buttonStates.standard" ng-click="transpose('up')">
              <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn disabled" ng-class="buttonStates.standard">
              transpose
            </button>
            <button type="button" class="btn" ng-class="buttonStates.standard" ng-click="transpose('down')">
              <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
          </div>
        </div>

        <div class="row">
          BPM:
          <input type="range" class="form-control ng-pristine ng-untouched ng-valid" min="40" max="280" ng-model="sequencer.bpm">
          rate:
          <input type="range" class="form-control ng-pristine ng-untouched ng-valid" min="0" max="12" ng-model="sequencer.rate">
          gate length:
          <input type="range" class="form-control ng-pristine ng-untouched ng-valid" min="0.05" max="1"  step="0.05" ng-model="sequencer.gate">
        </div>

        <br>

        <div class="row">
          <div class="input-group">
            <span class="input-group-addon">MIDI Input:</span>
            <select class="form-control" ng-model="activeInDevice" ng-options="device.manufacturer + &#39; &#39; + device.name for device in inDevices">
              <option value="">Choose a device...</option>
            </select>
            <span class="input-group-addon">MIDI Output:</span>
            <select class="form-control" ng-model="activeOutDevice" ng-options="device.manufacturer + &#39; &#39; + device.name for device in outDevices">
              <option value="">Choose a device...</option>
            </select>
          </div>
          <div class="btn" ng-class="buttonStates.standard" ng-click="getMidiDevices()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            refresh devices
          </div>

        </div>

      </div> <!-- col -->

    </div> <!-- container fluid -->

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="webmidi.js"></script>
    <script type="text/javascript" src="StepSeq.js"></script>
    <script type="text/javascript" src="app.js"></script>

  </body>
</html>